body {
    background-color: #fff9;
    place-content: center;
}

ul {
    overflow-x:hidden;
    white-space:nowrap;
    height: 3em;
    width: 100%;
}

li {
    display:inline;
    padding-left: 2em;
    margin: 1px;
}

img {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

div.borderline-rounded {
    border: 2px solid #2d9fd9;
    box-shadow: whitesmoke;
    width: 320px;
    height: 32px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
input:focus {
    outline: none;
}

input[type=text] {
    padding-left: 15px;
    width: 240px;
    height: 30px;
    color: #a0d18c;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

input[type=text]:focus {
    border: none;
    color: #2d9fd9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

input[type=submit] {
    width: 55px;
    height: 30px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

th,td {
    padding-left: 2em;
    padding-top: 1em;
}

div.iframe-cont, iframe {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    outline: none;
}